.art_detail strong {
  font-family: georgiab, "Times New Roman", Times, serif;
  font-size: 2.625rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: inline-block;
  text-decoration: underline;
}

.art_detail li {
  list-style-type: square;
}

.art_detail img {
  margin-top: 4rem;
}
.art_detail {
  font-size: 1.125rem;
}

.art_detail a {
  color: #1470af;
}

.art_detail p{
  margin-top: 1rem;
}