.art_detail strong {
  font-family: "Georgia Custom", Georgia, serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 3.75rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: #1470AF;
}
.art_detail p > strong {
  margin-top: 3rem;
}

.art_detail li {
  list-style-type: square;
  margin-top: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.art_detail .img {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.art_detail .img img {
  display: block;
  margin: 0px auto;
}
.art_detail .img .img_info {
  color: #888;
  padding-top: 1rem;
  display: block;
  text-align: center;
  line-height: normal;
  font-size: 0.875rem;
  font-style: italic;
}
.art_detail {
  font-size: 1.125rem;
}

.art_detail a {
  /* color: #1470af; */
}

.art_detail p {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #333;
}
.art_detail .bold {
  font-weight: bold;
}
