/* d:\myproject\futurex\src\index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .home_big {
    @apply text-3xl font-bold font-georgia-b text-center;
  }
  .home_big_small {
    @apply text-sm mt-2 w-[14.5rem] text-center mx-auto font-bold;
  }
  .section_title {
    @apply text-blue text-3xl font-georgia-b font-bold;
  }
  .h2 {
    @apply lg:text-5xl font-proximanova text-4xl;
  }
  .p1 {
    @apply text-2xl font-proximanova-l font-light;
  }
  .main {
    @apply lg:max-w-[90rem] w-[100%] mx-auto px-[1.5rem] md:px-[3rem] lg:px-[5.625rem];
  }
  .se_bt {
    @apply mb-[7.5rem];
  }
  .se_mb_90 {
    @apply mb-[5.725rem];
  }
}

@layer utilities {
  @font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/proximanova_light.otf");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/proximanova.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/proximanova_bold.otf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Georgia Custom";
    src: url("./assets/fonts/georgia.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Georgia Custom";
    src: url("./assets/fonts/georgiab.ttf");
    font-weight: 700;
    font-style: normal;
  }

  .font-georgia {
    font-family: "Georgia Custom", Georgia, serif;
  }
  .font-georgia-b {
    font-family: "Georgia Custom", Georgia, serif;
    font-weight: 700;
  }

  .font-proximanova {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  }
  .font-proximanova-l {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  .font-proximanova-m {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
  .font-proximanova-b {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  .font-normal {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  }
  #nav a.active {
    text-decoration: solid;
  }
  #nav a.active .select {
    width: 100%;
    animation: width-show 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  body,
  html {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    width: 100vw;
    overflow-y: scroll;
  }
  .small_cap {
    font-variant: all-small-caps;
  }

  .blcak_opt {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  width:5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 5px;
}

