/* d:\myproject\futurex\src\index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .home_big {
    @apply text-3xl font-bold font-georgia-b text-center;
  }
  .home_big_small {
    @apply text-sm mt-2 w-[14.5rem] text-center mx-auto font-bold;
  }
  .section_title {
    @apply text-blue text-3xl font-georgia-b font-bold;
  }
  .h2 {
    @apply lg:text-5xl font-proximanova text-4xl;
  }
  .p1 {
    @apply text-2xl font-proximanova-l font-light;
  }
  .main {
    @apply lg:max-w-[90rem] w-[100%] mx-auto px-[5.625rem];
  }
  .se_bt {
    @apply mb-[7.5rem];
  }
  .se_mb_90 {
    @apply mb-[5.725rem];
  }
}

@layer utilities {
  @font-face {
    font-family: "proximanova";
    src: url("./assets/fonts/proximanova.ttf");
  }

  @font-face {
    font-family: "proximanoval";
    src: url("./assets/fonts/proximanova_light.otf");
  }

  @font-face {
    font-family: "proximanovam";
    src: url("./assets/fonts/ProximaNova-Medium.otf");
  }
  @font-face {
    font-family: "proximanovab";
    src: url("./assets/fonts/proximanova_bold.otf");
  }

  @font-face {
    font-family: "georgia";
    src: url("./assets/fonts/georgia.ttf");
  }

  @font-face {
    font-family: "georgiab";
    src: url("./assets/fonts/georgiab.ttf");
  }
  .font-georgia {
    font-family: georgia, "Times New Roman", Times, serif;
  }
  .font-georgia-b {
    font-family: georgiab, "Times New Roman", Times, serif;
  }

  .font-proximanova {
    font-family: proximanova, "Times New Roman", Times, serif;
  }
  .font-proximanova-l {
    font-family: proximanoval, "Times New Roman", Times, serif;
  }
  .font-proximanova-m {
    font-family: proximanovam, "Times New Roman", Times, serif;
  }
  .font-proximanova-b {
    font-family: proximanovab, "Times New Roman", Times, serif;
  }
  .font-normal {
    font-family: "Times New Roman", Times, serif;
  }
  #nav a.active {
    text-decoration: solid;
  }
  #nav a.active .select {
    width: 100%;
    animation: width-show 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .detail {
    color: #6ea3d5;
  }
  .detail strong {
    color: #1470af;
  }
  body,
  html {
    font-family: proximanova, "Times New Roman", Times, serif;
    width: 100vw;
    overflow-y: scroll;
  }
  .small_cap {
    font-variant: all-small-caps;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
